@page
@model FurEver.Pages.ReviewPageModel
@{
    ViewData["Title"] = "Review";
}
<link rel="stylesheet" href="~/css/ReviewPage.css" />

    <h2>Share your Story</h2>

<div class="form-container">
    <form method="post">
        <div>
            <label for="Username">Name:</label>
            <input type="text" id="Username" name="Username" required />
        </div>
        <div>
            <label for="DogBreedName">Dog Breed:</label>
            <select id="DogBreedName" name="DogBreedName" required>
                <option value="">--Select a Breed--</option>
                @foreach (var breed in Model.DogBreeds)
                {
                    <option value="@breed">@breed</option>
                }
            </select>
        </div>
        <div>
            <label for="Comments">Story:</label>
            <textarea id="Comments" name="Comments" required></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert">@Model.Message</div>
    }

    </div>